*{
    box-sizing: border-box;
    overflow-x: none;

}

body{
    color: var(--blanc);
    background-color: var(--bleu-fond);
    background-attachment: fixed;
    background-repeat: no-repeat;  
}

h1{
    font-family: 'Viga';
    color: var(--bleu-clair);
    font-size: 19px;
}

h5{
    font-family: 'Josefin Sans';
    font-size: 19px;
    font-weight: 400;
    margin: 1px;
    padding-top: 27px;

}
h2,h3{
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: var(--bleu-clair);
}
p {
    font-family: 'Proza Libre';
    font-size: 14px;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

footer h4{
font-family: 'Josefin Sans';
font-weight: 200;
font-size: 16px;
}


 