*{
    box-sizing: border-box;
}

body{
    color: var(--blanc);
    background-color: var(--bleu-fond);
    background-attachment: fixed;
    background-repeat: no-repeat;  
    overflow-x: none;
}

h1{
    font-family: 'Viga';
    color: var(--bleu-clair);
    font-size: 19px;
}

h5{
    font-family: 'Josefin Sans';
    font-size: 19px;
    font-weight: 400;

}
h2,h3{
    font-family: 'Josefin Sans';
    font-size:var(--mobile--16px-semibold--josefin--sans);
}
p {
    font-family: 'Proza Libre';
    font-size: var(--mobile--14px--proza-libre);
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

footer h4{
font-family: 'Josefin Sans';
font-weight: 200;
font-size: 16px;
}


 