*{
    box-sizing: border-box;
}

body{
    color: aliceblue;
    background-color: var(--bleu-fond);
    background-attachment: fixed;
    background-repeat: no-repeat;  
}

h1{
    font-family: 'Viga';
    color: var(--bleu-clair);
}
h5{
    font-family: 'Josefin Sans';
    font-size: var(--mobile--14px--josefin--sans);

}
