img {
    max-width: 100%;
    height: auto;
  }

  .article__figure{

  }

  
.article__figure--legend{
  margin-bottom: 5px;
  font-family: 'Proza Libre';
  color: var(--bleu-clair);
}
.main__freize--img{
  width: 85%;
}

.project__img--student{
    width: 65%;
    margin-bottom: 4px;
    padding: 1rem;
    margin-inline: 50px;
}