.footer_fr{
    background-color: var(--bleu-foncé);
    padding: 2px;

}
.footer_en{
    background-color: var(--bleu-foncé);
    padding: 2px;
}
.footer__legal--dptmmi{
    display: flex;
    left: 5px;
    margin: 6px;
}
.footer__btn--dptmmi{
    width: 54px;
    height: auto;
  position: relative;
  top: 18px;
  right: 15px;
}

.footer__linksocial--dptmmi{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.footer__separation{
    display: flex;
    border: 2px solid var(--blanc);
    border-width: 2px 0px 0px 0px;
}

.footer__link--jael{
    display: flex;
}
.footer__name--student{
    text-align: center;
}
.footer__link--jael{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5px;;
}
.footer__mailto--jael{
    display: flex;
    justify-content: center;
    color: var(--blanc);
    font-family: 'Josefin Sans';
    font-weight: 200;
    font-size: 16px;
    padding: 7px;
}