.footer_fr{
    background-color: var(--bleu-foncé);
    padding: 2px;

}
.footer__legal--dptmmi{
    display: flex;
    margin: 4px;
}
.footer__btn--dptmmi{
    width: 50px;
    height: auto;
    margin: 20px;
    margin-left: 0px;
}