.footer_fr{
    background-color: var(--bleu-foncé);
    padding: 2px;

}
.footer__legal--dptmmi{
    display: flex;
    margin: 5px;
}
.footer__btn--dptmmi{
    width: 54px;
    height: auto;
    margin: 20px;
    margin-left: 0px;
}

.footer__linksocial--dptmmi{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.footer__btn--toparrow{
    display: flex;
    margin-left: auto;

}