.header__homepage_fr{
    background-image: url('/public/img/accueil/background.webp');
    height: 244px;
    background-size: contain;
}

.header__btn{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.header__btn__language{
width: 24px;
height: 23px;
left: 23px;
top: 0px;
}

.header__btn__menu{
width: 24px;
height: 23px;
left: 23px;
top: 0px;
margin-left: auto;
padding:5px ;
}

