.header__homepage{
position: absolute;
display: flex;
flex-direction: column;
padding: 10px;
gap: 10px;

}

.header__btn__language{
    position: absolute;
width: 28px;
height: 23px;
left: 23px;
top: 17px;
}

.header__btn__menu{
 position: absolute;
width: 24px;
height: 24px;
left: 326px;
top: 15px;

}

.header__hero__img{
width: 365px;
height: 244px;;
}