.header__homepage{
    display: flex;
    background-image: url('/public/img/accueil/background.webp');
    height: 244px;
    background-size: contain;
}

.header__img{
    width: 365px;
    height: 244px;
    }

.header__btn{
    justify-content: space-between;
    flex-direction: row-reverse;
}

.header__btn__language{
width: 24px;
height: 23px;
left: 23px;
top: 0px;
}

.header__btn__menu{
width: 24px;
height: 23px;
left: 23px;
top: 0px;

}

