.article__heading{
    padding-top: 40px;
    margin: 4px;
}
.article__heading--category{
   position: relative;
   top: 16px;
   margin: 12px;
}
.article__heading--title{
    text-align: center;
    margin: 5px;
}
.article__heading--separation{
    border: 2px solid var(--blanc);
    border-width: 2px 0px 0px 0px;
    padding-bottom: 7px;
}

.article__title--decoration{
    border: solid;
    border-color: var(--bleu);
    border-width: 5px 0px 5px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.accueil__text--intro{
    margin: 20px;
}

.article__quote--lyrics{
    background-color: var(--bleu-foncé);
    padding: 12px;
    margin: 3px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
}