.article__heading{
    padding-top: 40px;
    margin: 4px;
}
.article__heading--category{
   margin: 12px;
}
.article__heading--title{
    text-align: center;
    margin: 9px;
}

  
.article__heading--subtittle{
text-align: left;
color: var(--blanc);
margin: 4px;
margin-left: 2rem;
margin-bottom: 2rem;
}

.article__heading--separation{
    border: 2px solid var(--blanc);
    border-width: 2px 0px 0px 0px;
    padding-bottom: 7px;
    width: 309px;
    margin-inline: auto;
}

.article__title--decoration{
    border: solid;
    border-color: var(--bleu);
    border-width: 5px 0px 5px 0px;
    font-size: 18px;
    text-align: center;
    width: 283px;
    margin-inline: auto;
    color: var(--blanc);
    margin-bottom: 2rem;
}
.accueil__text--intro{
    margin: 20px;
    line-height: 17px;
}

.article__quote--lyrics{
    background-color: var(--bleu-foncé);
    padding: 15px;
    margin: 2px;
    font-family: 'Josefin Sans';
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
}
.article__quote--text{
    margin-bottom: 3%;
}

.homepage__quote--lyrics{
    background-color: var(--bleu-foncé);
    padding: 4px;
    margin: 3px;
    font-family: 'Josefin Sans';
    font-size: 12px;
    text-align: center;
    border-radius: 20px;

}
.article__presentation--rowreverse{
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
}

.article__presentation--row{
    display: flex;
    flex-direction:row;
    margin: 15px;
}

.article__presentation--visual{
    padding-top: 15px;
    margin: 3px;
}

.article__presentation--caption{
    padding-left: 12px;
    margin-right: 10px;
}

.article__presentation--excerpt{
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 300;
    width: 150px;

}

.article__presentation--btn{
    background-color: var(--bleu);
    color: var(--blanc);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;

}

.main__article--btn{
    background-color: var(--bleu);
    color: var(--blanc);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 40%;

}

.main__article{
    margin: 5%;
}
.article__text{
    margin: 5px;
    margin-bottom: 4%;
}
.article__text--link{
    color: var(--bleu-clair);
    margin-inline: 35px;
}
.project__text--student{
    color: var(--bleu-clair);
    text-align: center;
}
.glossary__defintion{
    color: var(--bleu-clair);
    font-size: 16px;
    margin-bottom: 5px;
}
.glossary__text{
margin-bottom: 3px;
}