.article__heading{
    padding-top: 40px;
    margin: 4px;
}
.article__heading--category{
   margin: 12px;
}
.article__heading--title{
    text-align: center;
    margin: 5px;
}

  
.article__heading--subtittle{
text-align: center;
color: var(--blanc);
}

.article__heading--separation{
    border: 2px solid var(--blanc);
    border-width: 2px 0px 0px 0px;
    padding-bottom: 7px;
    width: 309px;
    margin-inline: auto;
}

.article__title--decoration{
    border: solid;
    border-color: var(--bleu);
    border-width: 5px 0px 5px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 183px;
    margin-inline: auto;
}
.accueil__text--intro{
    margin: 20px;
    line-height: 17px;
}

.article__quote--lyrics{
    background-color: var(--bleu-foncé);
    padding: 4px;
    margin: 3px;
    font-family: 'Josefin Sans';
    font-size: 12px;
    text-align: center;
    border-radius: 20px;

}
.article__presentation--rowreverse{
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
}

.article__presentation--row{
    display: flex;
    flex-direction:row;
    margin: 15px;
}

.article__presentation--caption{
    padding-left: 12px;
}

.article__presentation--excerpt{
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 300;

}

.article__presentation--btn{
    background-color: var(--bleu);
    color: var(--blanc);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;

}