.main__freize{
   padding: 3px;

}

.main__freize--container{
    display: flex;

}

.main__freize--line{
    height: auto;
}

.main__freiz--elements{
width: 70%;
}

.main__freize--legend{
 margin-bottom: 15px;
}

.main__freize--title{
    color: var(--bleu-clair);
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}
.main__freize--subtitle{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;
    margin: 1px;
}