/* Pour l'instant on cache le menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0%;
  width: 80vw;
  height: 100vh;
 background-color:var(--bleu-foncé);
 display: grid;
 place-content: center;
  }

.header__menuBtn {
  position: relative;
  z-index: 10;
}

.menu__title{
  font-family: 'Josefin Sans';
  color: var(--bleu-clair);
  margin: 17px;
  font-size: var(--mobile--16px-bold--josefin--sans);

}

.menu__nav--articles{
  list-style-type: none;
}
.menu__nav--infos{
  list-style-type: none;
}

.menu__link--article {
  color: var(--blanc);
  text-decoration: none;
}

.menu__link--info  {
  color: var(--blanc);
  text-decoration: none;
}